In [75]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df1 = pd.read_csv("datas/nigeria-access-to-electricity.csv")

In [6]:
df2 = pd.read_csv("datas/nigeria-households-possessing-auto.csv")

In [7]:
df3 = pd.read_csv("datas/nigeria-refrigerator-ownership.csv")

In [8]:
df1.head()

       Geography  Access to electricity  No electricity
0        Nigeria                   59.4            40.6
1          Urban                   82.7            17.3
2          Rural                   38.9            61.1
3  North Central                   56.8            43.2
4     North East                   36.1            63.9

In [9]:
df2.head()

,Geography,Households possessing a bicycle,Households possessing an animal drawn cart,Households possessing a motorcycle,Households possessing a private car,Households possessing a boat with a motor
0,Nigeria,12.5,3.1,27.5,9.3,0.6
1,Urban,9.4,0.7,21.3,13.9,0.5
2,Rural,15.2,5.2,32.9,5.2,0.7
3,North Central,6.2,0.8,42.0,10.0,0.5
4,North East,20.4,8.2,21.2,6.7,0.4

In [10]:
df3.head()

       Geography  Households possessing a refrigerator
0        Nigeria                                  22.0
1          Urban                                  35.3
2          Rural                                  10.3
3  North Central                                  18.4
4     North East                                   9.3

In [56]:
new_data = pd.merge(df1, df3)

In [57]:
new_data.head()

,Geography,Access to electricity,No electricity,Households possessing a refrigerator
0,Nigeria,59.4,40.6,22.0
1,Urban,82.7,17.3,35.3
2,Rural,38.9,61.1,10.3
3,North Central,56.8,43.2,18.4
4,North East,36.1,63.9,9.3

In [58]:
new_data.tail()

,Geography,Access to electricity,No electricity,Households possessing a refrigerator
41,Bayelsa,47.1,52.9,26.6
42,Cross River,53.5,46.5,21.6
43,Delta,72.0,28.0,31.9
44,Edo,70.1,29.9,32.7
45,Rivers,81.9,18.1,42.4

In [59]:
new_data["Households with a private car"] = [i for i in df2['Households possessing a private car']]

In [61]:
new_data["Households with a motocycle"] = [i for i in df2['Households possessing a motorcycle']]

In [73]:
new_data.head()

,Geography,Access to electricity,No electricity,Households possessing a refrigerator,Households with a private car,Households with a motocycle
0,Nigeria,59.4,40.6,22.0,9.3,27.5
1,Urban,82.7,17.3,35.3,13.9,21.3
2,Rural,38.9,61.1,10.3,5.2,32.9
3,North Central,56.8,43.2,18.4,10.0,42.0
4,North East,36.1,63.9,9.3,6.7,21.2

In [76]:
plt.style.use('_mpl-gallery')