In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("datas/nigeria-access-to-electricity.csv")

In [4]:
df2 = pd.read_csv("datas/nigeria-households-possessing-auto.csv")

In [5]:
df3 = pd.read_csv("datas/nigeria-refrigerator-ownership.csv")

In [6]:
df1.head()

       Geography  Access to electricity  No electricity
0        Nigeria                   59.4            40.6
1          Urban                   82.7            17.3
2          Rural                   38.9            61.1
3  North Central                   56.8            43.2
4     North East                   36.1            63.9

In [7]:
df2.head()

,Geography,Households possessing a bicycle,Households possessing an animal drawn cart,Households possessing a motorcycle,Households possessing a private car,Households possessing a boat with a motor
0,Nigeria,12.5,3.1,27.5,9.3,0.6
1,Urban,9.4,0.7,21.3,13.9,0.5
2,Rural,15.2,5.2,32.9,5.2,0.7
3,North Central,6.2,0.8,42.0,10.0,0.5
4,North East,20.4,8.2,21.2,6.7,0.4

In [8]:
df3.head()

       Geography  Households possessing a refrigerator
0        Nigeria                                  22.0
1          Urban                                  35.3
2          Rural                                  10.3
3  North Central                                  18.4
4     North East                                   9.3

In [18]:
new_data = pd.merge(df1, df3, on="Geography")

In [23]:
df = pd.merge(new_data, df2[['Households possessing a private car']], on="Households possessing a private car", how="right")

KeyError: 'Households possessing a private car'